# CORS headers
<IfModule mod_headers.c>
  Header set Access-Control-Allow-Origin "*"
  Header set Access-Control-Allow-Methods "GET,POST,DELETE,PATCH,OPTIONS"
  Header set Access-Control-Allow-Headers "Content-Type,Authorization"
</IfModule>

<IfModule mod_rewrite.c>
  RewriteEngine On

  # Gérer les requêtes OPTIONS (preflight CORS)
  RewriteCond %{REQUEST_METHOD} OPTIONS
  RewriteRule .* - [R=200,L]

  # Rediriger toutes les autres requêtes vers index.php
  RewriteRule .* index.php [L]
</IfModule>